github "vilyever/objcString" == 1.1.0
github "vilyever/objcTimer" == 1.1.0
github "vilyever/objcWeakRef" == 1.1.0
github "vilyever/objcBlock" == 1.1.0
github "vilyever/objcArray" == 1.1.0
github "robbiehanson/CocoaAsyncSocket" "master"
